<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://unpkg.com/boxicons@latest/css/boxicons.min.css">
    <title>Amzad Hossain Rafi </title>

    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link
        href="https://fonts.googleapis.com/css2?family=Courgette&family=Open+Sans:ital,wght@1,300&family=Poppins:wght@200&family=Roboto:wght@300&display=swap"
        rel="stylesheet">
   
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">



</head>


<body>
    <!--nevbar-->
    <header>
        <!-- nevbar will be transparent to background-->
        <!-- logo will be on the left side -->
        <!-- nevbar will have hovaring effect with shadow and backgroud color  -->
        <!-- logo, summay , about me , live projects ,contact informantions -->
        <img src="static/image/logo.png" height="40px" width="40px">
        <a href="#" class="logo">Amzad<span>Hossain Rafi</span></a>
        <div class="bx bx-menu" id="menu-icon"></div>
        <ul class="navlist">
            <li><a href="#home">home</a></li>
            <li><a href="#summary">summary</a></li>
            <li><a href="#projects">project</a></li>
            <li><a href="#skill">skills</a></li>
            <li><a href="#contact">contact</a></li>
        </ul>

        <div class="h-btn">
            <a href="#" class="btn">login</a>
        </div>



    </header>
    <section class="home" id="home">

        <div class="home-text">
            <h2>I'm</h2>
            <h1>Amzad <br> <span>Hossain Rafi</span></h1>
            <h4>Machine learning engineer </h4>
            
            <a href="#" class="sbtn">Download Resume</a>
        </div>



        <ul class="count">
            <li><span>2 years</span><br>Experience</li>
            <li><span>3</span><br>Publication</li>
            <li><span>7</span><br>Citiation</li>
        </ul>

        </div>
    </section>

    <!-- home-->
    <!-- background image  -->
    <!-- all the information will be mid position of bg -->
    <!-- name( small fornts ) -->
    <!-- profession (big fonts with animation if possible ) -->
    <!-- download resume button(with hover effects and rounded ) -->




    <!-- about me-->
    <!-- brife summmary of myself -->
    <!-- section container 1 row 2 column -->
    <!-- left column image -->
    <!-- right column -->
    <!--
                This section allows you to tell recruiters more about who you are — the type of information that may not fit in a technical resume.
                Consider highlighting your passion for machine learning and explain why you got into the field. You can also include details about your current projects, your tech stack, 
                and where you see yourself in the future.
            -->
    <section class="about" id="summary">
        <div class="about-img">
            <img src="static/image/skill-gif.gif">
        </div>
        <div class="about-text">
            <h2>Summary</h2>
            <h5><span>Machine learning engineer</span></h5>
            <p>
                A machine learning engineer with eggar to learn more and more.Two‑year hand on experience in implementing various computer vision
                models, image processing and having a proper understanding of maintaining accurate training pipelines, end‑to‑end pre‑processing and
                handling version control, Kears, PyTorch lightning. Excellent knowledge of classification, segmentation, image resolution improvement,
                and denoising encoder, including expertise in benchmarking/evaluating them.
                        
            </p>

            <div class='btns'> 

             <a href=""><i class='bx bxl-linkedin-square bx-tada' ></i></a>  
             <a href=""><i class='bx bxl-github bx-tada' ></i></a>
                <a href=""><i class='bx bxl-gmail ' > amzad.rafi@northsouth.edu</i></a>
            
            </div>
        </div>



    </section>

<section class="services" id="projects">


    <div class="heading">
        <h2>Live Projects</h2>
        <h5> Some of My <span>Projects</span></h5>   
        <p>
            During my academic career and my profesonal career , I have worked on a number of projects. Some of them are listed below.
        </p>
    </div>


    <div class="services-content">
        <div class="box">
            <img src="static/image/logo.png" alt="">

            <h3>Personal Protective Gear Detection<br> Surveillance System</h3>
            <p> project 1 descriptions </p>
         
        </div>

        <div class="box">
            <img src="static/image/logo.png" alt="">

            <h3>Semantic Segmentation of areal<br> InSAR satellite image </h3>
            <p> project 1 descriptions </p>
           
        </div>
        <div class="box">
            <img src="static/image/logo.png" alt="">
            <h3>Video next frame predeiction </h3>
            <p> project 1 descriptions </p>
            
        </div>

        <div class="box">
            <img src="static/image/logo.png" alt="">

            <h3>Low-light image enhancement</h3>
            <p> project 1 descriptions </p>
            
        </div>   

        <div class="box">
            <img src="static/image/logo.png" alt="">

            <h3>Image classification with vision<br> transformer </h3>
            <p> project 1 descriptions </p>
            
        </div>   
        <div class="box">
            <img src="static/image/logo.png" alt="x">

            <h3>image to caption generetion </h3>
            <p> project 1 descriptions </p>
            
        </div>  


    </div>
    <div class="heading">
       
        <h5><span> Some of My Projects</span></h5>   
        <p>
            there are some of my projects. you can see all of my projects in my github account.
            <a href="#" class="sbtn"><i class="bx bxl-github bx-tada"></i></a>
         
        </p>

    </div>
</section>
<section class="skills" id="skill">
<div class="heading">
    <h2>Skills</h2>
    <h5> My <span>Skills</span></h5>   
    <p>
        During my academic career and my profesonal career , I have worked on a number of projects. Some of them are listed below.
    </p>    
</div>  

<div class="skills">

    <div class="xbtn">
        <h4>Programming languages</h4>
        <a ><i class='bx bxl-python' ></i></a>
        <a ><i class='bx bxl-c-plus-plus' ></i></a>
        <a><i class='bx bxl-flask'></i></a>
        <a ><i class='bx bxl-html5' ></i></a>
        <a ><i class='bx bxl-css3' ></i></a>
        <a ><i class='bx bxl-heroku' ></i></a> 
      
        <a href=""><i class='bx bxs-hot'></i></a>
      
       <a> <img src="https://img.icons8.com/ios/50/000000/k.png"/></a>
        
        <a><img src="https://img.icons8.com/color/48/null/numpy.png"/></a>
        <a ><img src="https://img.icons8.com/color/48/null/pandas.png"/></a>
        <a ><img src="https://img.icons8.com/color/48/null/scikit-learn.png"/></a>

    </div>
    
    <div class="xbtn">
        <h4>Miscellaneous</h4>
            <a><img src="https://img.icons8.com/ios-filled/50/null/linux.png"/></a> 
            <a><img src="https://img.icons8.com/ios-filled/50/null/office-365.png"/></a>   
            <a><i class='bx bxl-git' ></i></a>
            <a ><i class='bx bxl-github' ></i></a> 
            <a><img src="static/image/ga.svg" alt="ga" width="50" height="50"/></a>
         </div>
   
</div>


</section>


<section class="services" id="certificate">
    <div class="heading" >
        <h2>Online certificate </h2>
        <h5><span>list of certificate </span></h5>   
        <p>
            During my academic career and my profesonal career , I have worked on a number of projects. Some of them are listed below.
        </p>
        <div class="certificate-content" >
            <div class="col">
                <img src="static/image/ml.jpg" alt="">
                <div class="layer">
                    <h3>Machine Learning</h3>
                    <p></p>
                </div>    
            </div>
         

            <div class="col">
                <img src="static/image/math-cir.jpg" alt="">
                <div class="layer">
                    <h3>Machine Learning</h3>
                    <p> </p>
                </div>    
            </div>
            <div class="col">
                <img src="static/image/python.jpg" alt="">
                <div class="layer">
                    <h3>Machine Learning</h3>
                    <p></p>
                </div>    
            </div>
            <div class="col">
                <img src="static/image/python-basic.png" alt="">
                <div class="layer">
                    <h3>Machine Learning</h3>
                    <p></p>
                </div>    
            </div>
        
            <div class="col">
                <img src="static/image/sql.png" alt="">
                <div class="layer">
                    <h3>Machine Learning</h3>
                    <p></p>
                </div>
            </div>
            <div class="col">
                <img src="static/image/ten.jpg" alt="">
                <div class="layer">
                    <h3>Machine Learning</h3>
                    <p></p>
                </div>
            </div>
        </div>

    </div>
</section>




<section class="contact" id="contact"> 
    <h2> Want to know more about me  </h2>
    <div class="newslatter">
      <input type="text" placeholder="Enter your email">
      <a href="#" class="cta">Send Massage </a>
        <div ></div>
    </div>

    <!-- live projects-->
    <!-- 2 rows 3 in each  -->
    <!-- projects will be presented in box -->
    <!-- box will have hovaring effect and animation if possible -->
    <!-- project name , short descriptions and deployment link(at the bottom )  -->




    <!-- skills -->
    <!-- 3 rows  -->
    <!-- rows will be devided in hard-skills ,(),soft-skills  -->
    <!-- row will be presented in box -->
    <!-- box will have hovaring effect and animation if possible -->






    <!-- contact me  -->
    <!-- email , phone , linkedin , github , facebook , twitter , instagram , youtube , website -->




    <!-- footer-->
    <!-- copy right -->
    <!-- social media links -->


    <script src="script.js"></script>
</body>

</html>